.App {
  max-width: 40em;
  margin: 0 auto;
  padding: 4rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 1em;
  cursor: pointer;
}

.nav-logo {
  width: 60px;
}

.react-img {
  width: 14rem;
  max-width: 100%;
}